@charset "utf-8";

/*TODO:
1.add display: block; to all images 
to avoid white line below image
2.tidy css, combine classes
3.review use of class versus id in html
4. check typography
5. background-colors
6. link colors, color scheme.
7. Turn images into links, not just view details link.
*/


/* CSS Document */

html {
    box-sizing: border-box;
    /*Equivalent to 16px*/
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
td,
th,
p,
ul,
li {
    font-family: Work Sans, Helvetica, sans-serif;
    font-size: 1em;
    color: #333;
    line-height: 1.5;
    margin: 0;
}

body {
    /*background-color: #fdfdfd;*/
    position: relative;
}




ul,
li {
    font-family: Work Sans, Helvetica, sans-serif;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Work Sans, Helvetica, sans-serif;
    /*margin: 0 0 20px;*/
    margin: 0;
}

h1 {
  font-size: 1.68em;
}
h2 {
  font-size: 1.44em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.167em;
}

h6 {
  font-size: 1em;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}




/* ====================== Grid ====================== */

.flex-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    padding: 1.5rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem;
}

#map-container {
  padding: 24px;
}

#maincontent {
    min-height: 100%;
}

.section-border {
  border-top: 1px solid #e0e0e0;
}



/* ====================== Navigation ====================== */

#primary {
    /*background-color: #252831;*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 12px;
    min-height: 72px;
}

#primary h1 {
    margin: 0;
    /*font-size: 1.44em;*/
    font-size: 21px;
}

#primary h1 a {
    color: black;
}

#secondary {
    padding: 0;
    border-bottom: 1px solid #E0E0E0;
/*    background-color: #eee;
*/}

#breadcrumb {
    list-style: none;
    padding: 0.75em 1.5em;
    /*    background-color: #eee;*/
    font-size: 14px;
    max-width: 648px;
    /* margin: 0;*/
}




/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 6px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    padding: 1em 0;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */

#map {
    height: 22.5rem;
    width: 100%;
}




/* ====================== Restaurant Filtering ====================== */

.filter-options h2, 
.results-filter {
  width: 100%;
}

.filter-options h2 {
    margin: 0 0 0.75rem;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
}

.filter-options label {
  font-size: 0.875em;
  color: grey;
  display: block;
}

.filter-options select {
    background-color: white;  
    border: 1px solid #e0e0e0;
    font-family: Work Sans, sans-serif;
    font-size: 0.972em;
    height: 2.625rem;
    letter-spacing: 0;
    margin: 0.125rem 0 0.75rem 0;
    padding: 0 0.75rem;
    width: 100%;
    display: block;
    border-radius: 0;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    list-style: outside none none;
    padding: 1.5rem;
}

#restaurants-list li {
    margin: 0 0 1.5rem;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.06); 
}

#restaurants-list li:last-child {
  margin-bottom: 0;
}


.flex-card-content {
    padding: 1.5rem;
}


#restaurants-list .restaurant-img {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
}

#restaurants-list li h3 {
    margin-bottom: 0.75rem;
}

.neighborhood {
  margin-bottom: 0.375rem;
  font-size: 0.938rem;
  text-transform: uppercase;
}

.address {
    margin-bottom: 0.75rem;
    font-size: 0.938rem;
}

#restaurants-list li a {
    font-size: 0.938em;
    text-decoration: none;
}




/* ====================== Restaurant Details ====================== */
.card-container {
  width: 100%;
  padding: 12px;
  max-width: 648px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.card-cell {
  width: calc(100% - 1.5rem);
  margin: 0.75rem 0.75rem 1.5rem;
}

.restaurant-card {
  border: 1px solid #e0e0e0;
  display: flex;
  flex-flow: row wrap;
}

#restaurant-name {
    text-transform: uppercase;
}

#restaurant-name-wrapper,
#restaurant-hours-wrapper {
    padding: 0.75rem;
    border: 1px solid black;
}

#restaurant-map-wrapper {
  margin-bottom: 0.75rem;
}


#restaurant-img {
    width: 100%;
    max-width: 100%;
    display: block;
}

#restaurant-name {
  margin: 3px 0 6px;
}
#restaurant-address {
    margin: 0;
    font-size: 14px;
}

#restaurant-cuisine {
    text-transform: uppercase;
}

#restaurant-hours {
  width: 100%;
  max-width: 250px;
}

#restaurant-hours td {
    font-size: 14px;
    vertical-align: top;
    padding: 6px;
    text-align: left;
}
.day {
  color: black;
}

.time {
  color: #666;
}

#reviews-container h2 {
    color: #f58500;
    letter-spacing: -1px;
    margin: 12px;
}

#reviews-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0 auto;
}

#reviews-list li {
    background-color: #fff;
    list-style-type: none;
    overflow: hidden;
    width: calc(100% - 1.5rem);
    max-width: 600px;
    margin: 0 0.75rem 1.5rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.06);
    font-size: 14px;
}

#reviews-list li:last-child {
  margin-bottom: 0.75rem;
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.name-container p:first-child {
    margin: 0;
}

.review-date {
    margin: 0 0 0 auto;
}


.rating {
    padding: 6px;
    width: 20%;
    margin: 0 0 0 12px;
    text-align: center;
    border-radius: 5px;
    min-width: 100px;
    background: orange;
}

.comments {
    padding: 12px;
    margin: 0;
}

/* ====================== Footer ====================== */

footer {
/*    background-color: #444;*/
}

#footer {
    color: #aaa;
    font-size: 0.81em;
    letter-spacing: 1px;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#footer a {
    padding: 0 8px;
}

/* ====================== Media Queries ====================== */
@media (min-width: 480px) {
    .flex-container,
    .container {
        width: 90%;
    }
}

@media (min-width: 600px) {
    .flex-container,
    .container {
        width: 100%;
    }

    .filter-options {
      width: 100%;
      padding: 5rem 1.5rem;
      max-width: 800px;
      margin: 0 auto;
    }
    .filter-options label {
      margin-top: 0.75rem;
    }

    .results-filter {
      width: calc(50% - 0.75rem);
    }

    .results-filter:first-child{
      margin-right: 1.5rem;
    }

    .results-filter:last-child {
      margin-bottom: 0;
      margin-left: 1.5rem;
    }

    #restaurants-list {
      padding: 0.75rem;
    }
    #restaurants-list li {
      margin: 0.75rem;
      width: calc(50% - 1.5rem);
    }
    #restaurants-list li:last-child {
      margin: 0.75rem;
    }
}

@media (min-width: 650px) {
    #restaurant-name-wrapper,
    #restaurant-hours-wrapper {
    width: calc(50% - 24px);
}

    #restaurant-name-wrapper,
    #restaurant-hours-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
}

/*@media all and (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}*/

@media (min-width: 840px) {
  .card-container, #breadcrumb {
    max-width: 1020px;
  }

  #reviews-list li {
    width: calc(50% - 1.5rem);
    margin: 12px;
  }

  .card-cell {
    margin: 0.75rem;
  }

  #restaurant-hours-wrapper,
  #restaurant-name-wrapper {
    padding: 1.5rem;
    width: calc(40% - 1.5rem);
  }

  #restaurant-img-wrapper,
  #restaurant-map-wrapper {
    width: calc(60% - 1.5rem);
  }
}


@media (min-width: 960px) {
    .flex-container,
    .container {
        width: 100%;
    }

    #restaurants-list li {
        width: calc(33.33% - 1.5rem);
    }
    .results-filter {
      width: calc(50% - 1.5rem);
    }

    #restaurant-hours-wrapper,
    #restaurant-name-wrapper {
    
    width: calc(40% - 1.5rem);
  }

  #restaurant-img-wrapper,
  #restaurant-map-wrapper {
    width: calc(60% - 1.5rem);
  }


}





