@charset "utf-8";



/*TODO:
4. check typography
5. background-colors
6. link colors, color scheme.
7. Turn images into links, not just view details link.
*/


/* CSS Document */

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /*background-color: #fdfdfd;*/
    position: relative;
    font-family: Work Sans, Helvetica, sans-serif;
    font-size: 1em;
    color: #333;
    line-height: 1.5;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: outside none none;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

/*a img {
    border: none 0px #fff;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 1.68em;
}

h2 {
    font-size: 1.44em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.167em;
}

h6 {
    font-size: 1em;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* ====================== Grid ====================== */


/*large container class*/
.filter-grid,
.restaurants-grid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    max-width: 1280px;
    padding: 1.5rem;
}

.restaurants-grid {
    padding: 0.75rem;
}


/* No flex*/
.map-grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem;
}


/*centered flex-grid*/
.primary-nav,
.footer-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
}

.main-content {
    min-height: 100%;
}

/* narrow flex-grid*/
.breadcrumb-grid,
.showcase-grid,
.reviews-grid {
    width: 100%;
    padding: 0.75rem;
    max-width: 648px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}


/* ====================== Navigation ====================== */

.primary-nav {
    /*background-color: #252831;*/
    border-bottom: 1px solid #E0E0E0;
    min-height: 4.5rem;
}

.header-title {
    font-size: 1.313em;
    text-transform: uppercase;
}

.header-link {
    color: black;
}

.secondary-nav {
    padding: 0;
    border-bottom: 1px solid #E0E0E0;
    /*    background-color: #eee;
*/
}

.breadcrumb-grid {
    list-style: none;
    padding: 0.75em 1.5em;
    /*    background-color: #eee;*/
    font-size: 14px;
    max-width: 648px;
}


/* Display list items side by side */
.breadcrumb-item {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb-grid li+li:before {
    padding: 6px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb-link {
    color: #0275d8;
    text-decoration: none;
    padding: 1em 0;
}

/* Add a color on mouse-over */
.breadcrumb-link:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */

#map {
    height: 22.5rem;
    width: 100%;
}


/* ====================== Restaurant Filtering ====================== */

.title-sm,
.results-filter {
    width: 100%;
}

.title-sm {
    margin: 0 0 0.75rem;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
}

.label {
    font-size: 0.875em;
    color: grey;
    display: block;
}

.select-bar {
    background-color: white;
    border: 1px solid #e0e0e0;
    font-family: Work Sans, sans-serif;
    font-size: 0.972em;
    height: 2.625rem;
    letter-spacing: 0;
    margin: 0.125rem 0 0.75rem 0;
    padding: 0 0.75rem;
    width: 100%;
    display: block;
    border-radius: 0;
}


/* ====================== Restaurant Listing ====================== */

.restaurant-list-item {
    margin: 0.75rem;
    width: calc(100% - 1.5rem);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.06);
}

.restaurant-img {
    margin: 0;
    width: 100%;
    display: block;
    max-width: 100%;
    min-width: 100%;
}

.flex-card-content {
  padding: 1.5em;
}

.restaurant-list-heading {
    margin-bottom: 0.75rem;
}

.neighborhood {
    margin-bottom: 0.375rem;
    font-size: 0.938rem;
    text-transform: uppercase;
}

.address {
    margin-bottom: 0.75rem;
    font-size: 0.938rem;
}

.restaurant-link {
    font-size: 0.938em;
    text-decoration: none;
}


/* ====================== Restaurant Details ====================== */

.showcase-cell-lg,
.showcase-cell-sm {
    width: calc(100% - 1.5rem);
    margin: 0.75rem;
}

.showcase-cell-sm {
    padding: 0.75rem;
    border: 1px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.06);
}

.showcase-name {
    margin: 3px 0 6px;
}

.showcase-address {
    margin: 0;
    font-size: 14px;
}

.showcase-cuisine {
    text-transform: uppercase;
    margin: 0;
}

.showcase-hrs {
    width: 100%;
    max-width: 250px;
}

.day,
.time {
    font-size: 14px;
    vertical-align: top;
    padding: 6px;
    text-align: left;
}

.day {
    color: black;
}

.time {
    color: #666;
}

.review-section-title {
    letter-spacing: -1px;
    margin: 0.75rem;
    text-transform: uppercase;
}

.reviews-list {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0 auto;
}

.reviews-list-item {
    background-color: #fff;
    list-style-type: none;
    overflow: hidden;
    width: calc(100% - 1.5rem);
    max-width: 600px;
    margin: 0 0.75rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.06);
    font-size: 14px;
}

.reviews-list-item:last-child {
    margin-bottom: 0.75rem;
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.name-container p:first-child {
    margin: 0;
}

.review-date {
    margin: 0 0 0 auto;
}

.rating {
    padding: 6px;
    width: 20%;
    margin: 0 0 0 12px;
    text-align: center;
    border-radius: 5px;
    min-width: 100px;
    background: orange;
}

.comments {
    padding: 12px;
    margin: 0;
}


/* ====================== Footer ====================== */

footer {
    /*    background-color: #444;*/
}

.footer-grid {
    color: #aaa;
    font-size: 0.81em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 1px solid #e0e0e0;
}

.footer-link {
    padding: 0 8px;
    font-weight: bold;
}


/* ====================== Media Queries ====================== */

@media (min-width: 480px) {
    .filter-grid,
    .restaurants-grid,
    .map-grid {
        width: 90%;
    }
}

@media (min-width: 600px) {
    .restaurants-grid,
    .map-grid {
        width: 100%;
    }

    .filter-grid {
        padding: 5rem 1.5rem;
        max-width: 800px;
        margin: 0 auto;
    }

    .label {
        margin-top: 0.75rem;
    }

    .results-filter {
        width: calc(50% - 0.75rem);
    }

    .results-filter:first-child {
        margin-right: 1.5rem;
    }

    .results-filter:last-child {
        margin-bottom: 0;
        margin-left: 1.5rem;
    }

    .restaurant-list-item {
        margin: 0.75rem;
        width: calc(50% - 1.5rem);
    }
    .restaurant-list-item:last-child {
        margin: 0.75rem;
    }
}

@media (min-width: 650px) {
    .showcase-cell-sm {
        display: flex;
        flex-direction: column;
        justify-content: center;      
        width: calc(50% - 24px);
    }
}

/*@media all and (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}*/

@media (min-width: 840px) {
    .reviews-grid,
    .breadcrumb-grid,
    .showcase-grid {
        max-width: 1020px;
    }

    .reviews-list-item {
        width: calc(50% - 1.5rem);
        margin: 12px;
    }

    .showcase-cell-sm,
    .showcase-cell-lg {
        margin: 0.75rem;
    }

    .showcase-cell-sm {
        padding: 1.5rem;
        width: calc(40% - 1.5rem);
    }

    .showcase-cell-lg {
        width: calc(60% - 1.5rem);
    }
}


@media (min-width: 960px) {
    .restaurant-list-item {
        width: calc(33.33% - 1.5rem);
    }

    .results-filter {
        width: calc(50% - 1.5rem);
    }

    .showcase-cell-sm {
        width: calc(40% - 1.5rem);
    }

    .showcase-cell-lg {
        width: calc(60% - 1.5rem);
    }
}