ul,
li {
    margin: 0;
    padding: 0;
    list-style: outside none none;
}

a {
    color: #906932;
    text-decoration: none;
    &:visited {
        color: #906932;
    text-decoration: none;
    }
    &:hover,
    &:active {
        outline: none;
        color: #056ac1;
        text-decoration: underline;
    }
}

select:hover,
select:focus {
    outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 1.44em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.167em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.972em;
}
