/* ====================== Grid ====================== */
/*large container class*/
.filter-grid,
.restaurants-grid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    max-width: 1280px;
    padding: 1.5rem;
}

.restaurants-grid {
    padding: 0.75rem;
}

/* No flex*/
.map-grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem;
    width: 100%;
}

/* ====================== Restaurant Filtering ====================== */

/* Main page*/
.title-sm,
.results-filter {
    width: 100%;
}

.title-sm {
    margin: 0 0 0.75rem;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

.label {
    font-size: 0.81em;
    color: #4e4947;
    display: block;
}

.select-bar {
    background-color: #dcdad7;
    border: 1px solid #bbb5b5;
    font-family: Work Sans, sans-serif;
    font-size: 0.833em;
    height: 2.625rem;
    letter-spacing: 0;
    margin: 0.125rem 0 0.75rem 0;
    padding: 0 0.75rem;
    width: 100%;
    display: block;
    border-radius: 0;
}



/* ====================== Restaurant Listing ====================== */
.restaurant-list-item {
    margin: 0.75rem;
    width: calc(100% - 1.5rem);
    background: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.flex-card-content {
    padding: 1.5em;
    background: #fbfbfb;
}

.restaurant-list-heading {
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.neighborhood {
    margin: 0 0 0.375rem;
    font-size: 0.833rem;
    text-transform: uppercase;
}

.address {
    margin: 0 0 0.75rem;
    font-size: 0.833rem;
}

.restaurant-link {
    font-size: 0.833em;
    text-decoration: none;
}
