
.footer-grid {
    color: #676361;
    font-size: 0.694em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 3.125rem;
}

.footer-link {
    padding: 0 8px;
    font-weight: 500;
    color: #121212;
}