/*Small tablet*/
@media (min-width: 600px) {
    /* Display filter side by side */
    .filter-grid {
        padding: 5rem 1.5rem;
        max-width: 800px;
        margin: 0 auto;
    }

    .label {
        margin-top: 0.75rem;
    }

    .results-filter {
        width: calc(50% - 0.75rem);
        margin-right: 0.75rem;
    }

    .results-filter:last-child {
        margin: 0 0 0 0.75rem;
    }

    /* Display two restaurant cards per row*/
    .restaurant-list-item {
        margin: 0.75rem;
        width: calc(50% - 1.5rem);
    }

    .restaurant-list-item:last-child {
        margin: 0.75rem;
    }


    /* Restaurant page*/
    .showcase-cell-flex {
      padding: 0.75rem;
    }
}

/* Restaurant page*/
@media (min-width: 720px){
    
    /*Both pages*/
    /* Increase font size*/
    .restaurant-list-heading,
    .showcase-name {
        font-size: 1.4em;
    }

    .neighborhood,
    .address,
    .restaurant-link,
    .info-title,
    .showcase-cuisine,
    .showcase-address,
    .day,
    .time,
    .reviews-list-item {
        font-size: 1em;
    }
    
    /* Make restaurant page grids wider */
    .reviews-grid,
    .breadcrumb-grid,
    .showcase-grid {
        max-width: 1020px;
    }

    .reviews-list-item {
        width: calc(50% - 1.5rem);
        margin: 12px;
    }

    /* Sit restaurant info side by side*/
    .info-tile {
        width: calc(50% - 1.5rem);
    }
}
/*Main page*/
@media (min-width: 840px) {
    /* Increase filter font size*/
    .label {
        font-size: 0.833em;
    }

    .select-bar {
        font-size: 0.972em;
    }
}

/*Desktop styles*/
@media (min-width: 960px) {
    /* Restaurant page*/
    .breadcrumb-grid {
        font-size: 0.972em;
    }

    /* Restaurant cards three per row*/
    .restaurant-list-item {
        width: calc(33.33% - 1.5rem);
    }
}