



/* review card section*/

.review-section-title {
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0.75rem;
    text-transform: uppercase;
}

.reviews-list {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0 auto;
}

.reviews-list-item {
    background-color: #fff;
    list-style-type: none;
    overflow: hidden;
    width: calc(100% - 1.5rem);
    max-width: 600px;
    margin: 0 0.75rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.833em;
    @media (min-width: 720px){
        width: calc(50% - 1.5rem);
        margin: 12px;
        font-size: 1em;
    }
}

.reviews-list-item:last-child {
    margin-bottom: 0.75rem;
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.name-container p:first-child {
    margin: 0;
    font-weight: 500;
}

.review-date {
    margin: 0 0 0 auto;
}

.rating {
    padding: 6px;
    width: 20%;
    margin: 0 0 0 12px;
    text-align: center;
    border-radius: 5px;
    min-width: 100px;
    background: #906932;
    color: #fbfbfb;
}

.comments {
    padding: 12px;
    margin: 0;
}